<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ $mainCSS := resources.Get "static/main.css" }}
    {{ $syntaxCSS := resources.Get "static/syntax.css" }}
    {{ $style := slice $mainCSS $syntaxCSS | resources.Concat "static/all.css" | resources.Minify | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ if .Site.GoogleAnalytics }}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DHSZHGY89"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.GoogleAnalytics }}');
      </script>
    {{ end }}
  </head>
  <body>
    <header>
      <a class="title" href="{{ .Site.BaseURL }}">WebGPU 101</a>
      <button class="btn btn-menu">
        {{ partial "icons/menu.svg" }}
      </button>
    </header>
    <nav>
      <ul>
        {{ range .Site.RegularPages.ByDate.Reverse }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <button class="btn btn-close">
        {{ partial "icons/close.svg" }}
      </button>
    </nav>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>© {{ now.Year }} {{ .Site.Params.Author }} | <a href="{{ .Site.Params.GitHub }}" target="_blank">GitHub</a></footer>
    {{ $mainJS := resources.Get "static/main.js" | fingerprint "md5" }}
    <script src="{{ $mainJS.Permalink }}"></script>
  </body>
</html>
